<p>Hi <%=@booking.first_name%>,
<br>
<p>Thank you so much for booking the Blood Alley Tour. We are very excited to 
see you and your group of <%=@booking.party_size%>! Please be sure to meet us at the 
address below 5 minutes early.</p>
<br>
<p>Below is some important information regarding your booking:</p>
<p>Booking number: <%= @booking.id %></p>
<p>Date: <%= @booking.date%></p>
<p>Time: <%= @booking.time%></p>
<p>Location: At the front of 'Waterfront Skytrain Station' - 601 W Cordova St, Vancouver, BC V6B 1G1</p>
<br>
<p>Regards,</p>
<p>Blood Alley Tour Team</p>


